# macOS
.DS_Store
.AppleDouble
.LSOverride

# Build artifacts
build/
*.dmg
*.app
*.ipa
*.dSYM.zip
*.dSYM

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace
!project.xcworkspace/contents.xcworkspacedata
!project.xcworkspace/xcshareddata/

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved

# CocoaPods
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
iOSInjectionProject/ 