@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color-scheme: light dark;
  }

  * {
    @apply border-gray-200 dark:border-gray-800;
  }

  html,
  body {
    @apply text-gray-900 bg-gray-50 dark:bg-gray-950 dark:text-gray-200;
  }

  .using-mouse * {
    outline: none !important;
  }
}

/* Moon/Sun animation */
@keyframes moonAnimation {
  0% {
    opacity: 0;
    transform: scale(0.3) rotate(-180deg);
  }
  10% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
  40% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
  50% {
    opacity: 0;
    transform: scale(0.3) rotate(180deg);
  }
  100% {
    opacity: 0;
    transform: scale(0.3) rotate(180deg);
  }
}

@keyframes sunAnimation {
  0% {
    opacity: 0;
    transform: scale(0.3) rotate(-180deg);
  }
  50% {
    opacity: 0;
    transform: scale(0.3) rotate(-180deg);
  }
  60% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
  90% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
  100% {
    opacity: 0;
    transform: scale(0.3) rotate(180deg);
  }
}

.moon-animation {
  animation: moonAnimation 4s infinite ease-in-out;
}

.sun-animation {
  animation: sunAnimation 4s infinite ease-in-out;
}
